# --- For-Bot-Working --------- #
https://codeload.github.com/gautamajay52/pyrogram/zip/refs/heads/dev
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
